.wrapper {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    border: 3px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 20px;
    background-color: #ff0401;
    cursor: pointer;
}

.button1 {
    background-color: #faea07;
}

.button2 {
    background-color: #19de1d;
}